@model UserDtoForUpdate

<div class="text-center my-5">
    <div class="display-6">Update (@Model.UserName)</div>
</div>

<form method="post" asp-action="Update">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group my-3">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
            </div>

            <div class="form-group my-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
            </div>


            <div class="form-group my-3">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>

            <div class="form-group my-3">
                <div class="btn-group d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-outline-primary">
                        <i class="fa fa-solid fa-arrow-left"></i>
                        Back
                    </a>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="lead p-2 mt-2">
                Roles
                @foreach (var item in Model.Roles)
                {
                    <div class="form-check my-2">
                        <input type="checkbox" 
                            name="Roles" 
                            value="@item" 
                            checked="@(Model.UserRoles.Contains(@item))"
                            class="form-check-input" />
                        <label class="form-check-label">@item</label>
                    </div>
                }
            </div>
            <div class="text-muted">
                Please choose the roles for the user.
            </div>
        </div>
    </div>
</form>