@model IEnumerable<Category>
<div class="my-4">
    <ul class="list-group">
        @foreach (var cat in Model)
        {
            <li class="list-group-item">
                @cat.CategoryName
            </li>
        }
    </ul>
</div>