@model IQueryable<Product>

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoriesMenu")
        @await Component.InvokeAsync("ProductFilterMenu")
    </div>
    <div class="col-md-9">
        <div class="row my-3">
            @foreach (Product prd in Model)
            {
                <partial name="_ProductCard" model="@prd" />
            }
        </div>
    </div>
</div>


@section Footer{
    <div>
        Only for Index footer
    </div>
}


