@model IQueryable<Product>

@section Footer{
    <div>
        Only for Index footer
    </div>
}

<div class="row my-3">
@foreach (Product prd in Model)
{
        <partial name="_ProductCard" model="@prd" />
}
</div>
