@{
    Layout = "_Layout";
}
@model List<StoreApp.Models.Product>

@foreach (StoreApp.Models.Product prd in Model)
{
    <div>
        <h3>@prd.ProductName</h3>
        <p>@prd.Price</p>
        <p>
            <a href="/Product/Get/@prd.ProductId">Get Details</a>
        </p>
    </div>
}
