<div class="text-center text-danger my-5">
    <h3 class="display-3">
        <i class="fa fa-solid fa-bug-slash"></i>
        <br />
        Access Denied
    </h3>
</div>

<div class="text-center my-5">
    <div class="lead my-5">
        You have no permission to access this page. Please get in touch with system administrator.
    </div>

    <div class="btn-group my-5">
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Home</a>
        <a class="btn btn-outline-secondary" asp-controller="Product" asp-action="Index">Product</a>
        <a class="btn btn-outline-secondary" asp-page="/contact">Contact</a>
    </div>
</div>