<div class="bg-light border-top p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2">2</div>
            <div class="col-md-8">8</div>
            <div class="col-md-2">
                <div class="my-3">
                    <h6 class="lead">
                        <i class="fa fa-box text-secondary"></i>
                        Lastest Products
                        <ul>
                            <li>Computer</li>
                            <li>Keyboard</li>
                            <li>Mouse</li>
                            <li>Hamlet</li>
                            <li>Be Loved</li>
                        </ul>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>