<div class="row">
    <div class="col-md-3">
        <div class="card bg-primary text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Number of</h6>
                <h5 class="card-title">Products</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("ProductSummary")
                </h3>
                <a asp-controller="Product" asp-action="Index" class="card-link text-white">Products</a>
                <a asp-controller="Product" asp-action="Create" class="card-link text-white">New Product</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-danger text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Number of</h6>
                <h5 class="card-title">Categories</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("CategorySummary")
                </h3>
                <a asp-controller="Category" asp-action="Index" class="card-link text-white">Categories</a>
                <a asp-controller="Category" asp-action="Create" class="card-link text-white">New Category</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-info text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Number of</h6>
                <h5 class="card-title">Users</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("UserSummary")
                </h3>
                <a asp-controller="User" asp-action="Index" class="card-link text-white">Users</a>
                <a asp-controller="User" asp-action="Create" class="card-link text-white">New User</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning text-white" style="width: 18rem;">
            <div class="card-body text-center">
                <h6 class="card-subtitle mb-2">Number of</h6>
                <h5 class="card-title">Orders in Progress</h5>
                <h3 class="text-center display-3">
                    @await Component.InvokeAsync("OrderInProgress")
                </h3>
                <a asp-controller="Order" asp-action="Index" class="card-link text-white">Orders</a>
            </div>
        </div>
    </div>
</div>