@model Order

<div class="text-danger" asp-validation-summary="All"></div>

<form method="post" asp-action="Checkout" >
    <div class="form-group my-3">
        <label asp-for="Name" ></label>
        <input class="form-control" asp-for="Name" >
    </div>

    <div class="form-group my-3">
        <label asp-for="Line1" ></label>
        <input class="form-control" asp-for="Line1" >
    </div>
    <div class="form-group my-3">
        <label asp-for="Line1" ></label>
        <input class="form-control" asp-for="Line1" >
    </div>

    <div class="form-group my-3">
        <label asp-for="Line2" ></label>
        <input class="form-control" asp-for="Line2" >
    </div>

    <div class="form-group my-3">
        <label asp-for="Line3" ></label>
        <input class="form-control" asp-for="Line3" >
    </div>

    <div class="form-group my-3">
        <label asp-for="City" ></label>
        <input class="form-control" asp-for="City" >
    </div>

    <div class="form-group my-3">
        <input asp-for="GiftWrap" >
        <label>Gift wrap these items.</label>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">
            Complete Order
        </button>
    </div>
</form>