@model IEnumerable<Product>

<div class="text-center">
    <h6 class="display-6">Showcase</h6>
</div>

<div class="row">
    @foreach (var prd in Model)
    {
        <partial name="_ProductCard" model="prd" />
    }
</div>