@page "/getintouch"

<div class="text-center my-5 ">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            ALO 120 BTK Akademi bilgi ve destek hattı
        </p>
        <i class="fa-solid fa-address-book bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            Bilgi Teknolojileri ve İletişim Kurumu Eskişehir Yolu 10.Km
            No: 276 Posta Kodu: 06530 Çankaya/Ankara
        </p>

        <i class="fa-solid fa-envelope bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            destek@btkakademi.gov.tr
        </p>
    </div>
</div>
